html {
    background-color: thistle;
}

#recipe-name {
    height: 20px;
    width: 200px;
}

#recipe-name {
    height: 20px;
    width: 200px;
}

#recipe-steps {
    height: 200px;
    width: 300px;
}