.category{
    background-color: lightgrey;
    margin: 20px;
    text-align: center;
    padding: 1%;
    border-width: 0px;      /*Gets rid of border. Clunky solution, but functional :D*/
    font-size: 24px; 
    border-radius: 10px;
    border-style: solid;
}

.recipe-cards--wrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}
a { 
    text-decoration: none; 
}