

.recipe-cards--wrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}

#category-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category{
    margin: 30px;
    text-align: center;
    padding: 1%;
    border-width: 5px;
    font-size: 24px; 
    background-color: white;
    border-color: teal;
    color: teal;
    font-weight: 500;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: teal;
    margin-bottom: 20px;
}

.half{
    border-color: teal;
    color: teal;
    font-weight: 500;
    margin: 10px; 
}

.nav{
    background-color: orange;
    border: none;
    padding: 10px 32px;
    color: teal;
    font-weight: 500; 
    font-size: 20px;
}

.logo{
    background-color: teal;
    border: none;
    padding: 15px 32px; 
    color: teal;
    font-weight: 1000; 
    font-size: 50px; 
    margin-left: -10px; 
}
