.category{
    background-color: lightgrey;
    margin: 30px;
    text-align: center;
    padding: 1%;
    border-width: 5px;
    font-size: 24px; 
}

.recipe-cards--wrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}